
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

button {
	background-color: #ccc;
	border: none;
	padding: 3px 5px;
	font-size: 12px;
	font-family: Raleway, Calibri, Arial, Helvetica, sans-serif;
}

#visor {
	background-color: black;
    color: #4F4;
    padding: 10px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.rpg-app {
	padding: 10px;
}

.cell {
    background-color: #c0c0c0;
    border: 1px solid #b0b0b0;
	margin: 2px;
	width: 80px;
	height: 80px;
}

.cell.me {
    background-color: #80D475;
}